@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #103a53, #789aaa);
    }

    section#login {
        width: 80vw;
        height: 70vh;
    }

    div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    div#formulatio {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    section#login {
        width: 950px;
    }

    div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    div#formulario {
        float: right;
        width: 50%;
    }
}