@charset "UTF-8";

/*
#103a53 - Azul
#789aaa - Azul claro
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #103a53;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden; 
    /*Tudo fora da borda fica 'escondido'*/

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);

    /*Transição p/ mudar os tamanhos de telas
    e o 'ease' suaviza */
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;

    transform: translate(-50%, -50%);
    /*Sempre deixar o transform por último*/
}

div#imagem {
    display: block;
    background: #004777 url(../imagens/imagem-login.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
    padding-bottom: 5px;
    text-align: justify;
}

label {
    display: none;
}

div.campo {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #6a97ac;
    border: 2px solid #6a97ac;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: #103a53;
    font-size: 1.8em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    font-size: 1em;
    width: calc(100% - 45px);
    height: 90%;
    border: none;
    border-radius: 5px;
    transform: translateY(-8.5px);
    /*Sempre deixar o transform por último*/
}

input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #004777;
    color: white;
    border: none;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: #001f33;
}

a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: white;
    color: #004777;
    border: 1px solid #004777;
    border-radius: 5px;
    text-decoration: none;
}

a.botao > i {
    font-size: 0.9em;
}

a.botao:hover {
    color: white;
    background-color: #001f33;
}